USE [master]
GO
/****** Object:  Database [FarmaciaNet]    Script Date: 11/12/2025 15:19:38 ******/
CREATE DATABASE [FarmaciaNet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FarmaciaNet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\FarmaciaNet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FarmaciaNet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\FarmaciaNet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FarmaciaNet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FarmaciaNet]
GO
/****** Object:  Table [dbo].[Cobros]    Script Date: 11/12/2025 15:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cobros](
	[IdCobros] [int] IDENTITY(1,1) NOT NULL,
	[IdLiquidaciones] [int] NULL,
	[IdObrasSociales] [int] NULL,
	[FechaCobro] [date] NULL,
	[ImporteCobrado] [decimal](18, 2) NOT NULL,
	[NumeroComprobante] [nvarchar](50) NOT NULL,
	[TipoPago] [nvarchar](50) NULL,
	[MontoDebitos] [decimal](18, 2) NOT NULL,
	[MotivoDebito] [nvarchar](250) NULL,
 CONSTRAINT [PK_Cobros] PRIMARY KEY CLUSTERED 
(
	[IdCobros] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacturaCabecera]    Script Date: 11/12/2025 15:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturaCabecera](
	[IdFacturaCabecera] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NULL,
	[IdObrasSociales] [int] NOT NULL,
	[TotalVenta] [decimal](18, 2) NOT NULL,
	[PorcentajeCobertura] [decimal](5, 2) NOT NULL,
	[MontoACargoSocio] [decimal](18, 2) NOT NULL,
	[MontoACargoOS] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](20) NULL,
	[Observaciones] [nvarchar](max) NULL,
	[UsuarioCarga] [nvarchar](50) NULL,
 CONSTRAINT [PK_FacturaCabecera] PRIMARY KEY CLUSTERED 
(
	[IdFacturaCabecera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacturaDetalle]    Script Date: 11/12/2025 15:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturaDetalle](
	[IdFacturaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdFacturaCabecera] [int] NOT NULL,
	[IdMedicamentos] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitarioHistorico] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_FacturaDetalle] PRIMARY KEY CLUSTERED 
(
	[IdFacturaDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LiquidacionDetalle]    Script Date: 11/12/2025 15:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiquidacionDetalle](
	[IdLiquidacionDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdLiquidaciones] [int] NOT NULL,
	[IdFacturaCabecera] [int] NOT NULL,
	[ImporteReclamado] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_LiquidacionDetalle] PRIMARY KEY CLUSTERED 
(
	[IdLiquidacionDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Liquidaciones]    Script Date: 11/12/2025 15:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liquidaciones](
	[IdLiquidaciones] [int] IDENTITY(1,1) NOT NULL,
	[IdMandatarias] [int] NOT NULL,
	[FechaPresentacion] [date] NULL,
	[Periodo] [nvarchar](20) NULL,
	[TotalPresentado] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](20) NULL,
 CONSTRAINT [PK_Liquidaciones] PRIMARY KEY CLUSTERED 
(
	[IdLiquidaciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mandatarias]    Script Date: 11/12/2025 15:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mandatarias](
	[IdMandatarias] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [nvarchar](100) NOT NULL,
	[Cuit] [bigint] NOT NULL,
	[Activa] [bit] NOT NULL,
	[Descripcion] [nchar](500) NULL,
	[Direccion] [nchar](100) NULL,
 CONSTRAINT [PK_Mandatarias] PRIMARY KEY CLUSTERED 
(
	[IdMandatarias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicamentos]    Script Date: 11/12/2025 15:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicamentos](
	[IdMedicamentos] [int] IDENTITY(1,1) NOT NULL,
	[NombreComercial] [nvarchar](150) NOT NULL,
	[Drogas] [nvarchar](250) NULL,
	[Laboratorio] [nvarchar](100) NULL,
	[CodigoBarras] [nvarchar](50) NULL,
	[PrecioVenta] [decimal](18, 2) NOT NULL,
	[StockActual] [int] NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Medicamentos] PRIMARY KEY CLUSTERED 
(
	[IdMedicamentos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObrasSociales]    Script Date: 11/12/2025 15:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObrasSociales](
	[IdObrasSociales] [int] IDENTITY(1,1) NOT NULL,
	[IdMandatarias] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[NombreMandataria] [nvarchar](100) NULL,
	[CodigoBonificacion] [int] NOT NULL,
	[EsPrepaga] [bit] NULL,
	[Activa] [bit] NOT NULL,
	[NombreCodigoBonificacion] [nvarchar](100) NULL,
 CONSTRAINT [PK_ObrasSociales] PRIMARY KEY CLUSTERED 
(
	[IdObrasSociales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Mandatarias] ON 

INSERT [dbo].[Mandatarias] ([IdMandatarias], [RazonSocial], [Cuit], [Activa], [Descripcion], [Direccion]) VALUES (4, N'Colegio Hombre Nuevo', 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Mandatarias] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicamentos] ON 

INSERT [dbo].[Medicamentos] ([IdMedicamentos], [NombreComercial], [Drogas], [Laboratorio], [CodigoBarras], [PrecioVenta], [StockActual], [Activo]) VALUES (1, N'ACTRON 600', NULL, NULL, N'779000000001', CAST(2500.00 AS Decimal(18, 2)), 0, 1)
SET IDENTITY_INSERT [dbo].[Medicamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[ObrasSociales] ON 

INSERT [dbo].[ObrasSociales] ([IdObrasSociales], [IdMandatarias], [Nombre], [NombreMandataria], [CodigoBonificacion], [EsPrepaga], [Activa], [NombreCodigoBonificacion]) VALUES (1, 0, N'PAMI JUBILADOS', NULL, 2222, 1, 1, N'sdfsd')
INSERT [dbo].[ObrasSociales] ([IdObrasSociales], [IdMandatarias], [Nombre], [NombreMandataria], [CodigoBonificacion], [EsPrepaga], [Activa], [NombreCodigoBonificacion]) VALUES (2, 1, N'OSDE', NULL, 0, 0, 1, NULL)
INSERT [dbo].[ObrasSociales] ([IdObrasSociales], [IdMandatarias], [Nombre], [NombreMandataria], [CodigoBonificacion], [EsPrepaga], [Activa], [NombreCodigoBonificacion]) VALUES (3, 9, N'aa', NULL, 0, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[ObrasSociales] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Medicamentos_CodigoBarras]    Script Date: 11/12/2025 15:19:38 ******/
ALTER TABLE [dbo].[Medicamentos] ADD  CONSTRAINT [UQ_Medicamentos_CodigoBarras] UNIQUE NONCLUSTERED 
(
	[CodigoBarras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Medicamentos_Nombre]    Script Date: 11/12/2025 15:19:38 ******/
CREATE NONCLUSTERED INDEX [IX_Medicamentos_Nombre] ON [dbo].[Medicamentos]
(
	[NombreComercial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cobros] ADD  DEFAULT (getdate()) FOR [FechaCobro]
GO
ALTER TABLE [dbo].[Cobros] ADD  DEFAULT ((0)) FOR [ImporteCobrado]
GO
ALTER TABLE [dbo].[Cobros] ADD  DEFAULT ('TRANSFERENCIA') FOR [TipoPago]
GO
ALTER TABLE [dbo].[Cobros] ADD  DEFAULT ((0)) FOR [MontoDebitos]
GO
ALTER TABLE [dbo].[FacturaCabecera] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[FacturaCabecera] ADD  DEFAULT ((0)) FOR [TotalVenta]
GO
ALTER TABLE [dbo].[FacturaCabecera] ADD  DEFAULT ((0)) FOR [PorcentajeCobertura]
GO
ALTER TABLE [dbo].[FacturaCabecera] ADD  DEFAULT ((0)) FOR [MontoACargoSocio]
GO
ALTER TABLE [dbo].[FacturaCabecera] ADD  DEFAULT ((0)) FOR [MontoACargoOS]
GO
ALTER TABLE [dbo].[FacturaCabecera] ADD  DEFAULT ('PENDIENTE_LIQ') FOR [Estado]
GO
ALTER TABLE [dbo].[FacturaDetalle] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[FacturaDetalle] ADD  DEFAULT ((0)) FOR [PrecioUnitarioHistorico]
GO
ALTER TABLE [dbo].[FacturaDetalle] ADD  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[LiquidacionDetalle] ADD  DEFAULT ((0)) FOR [ImporteReclamado]
GO
ALTER TABLE [dbo].[Liquidaciones] ADD  DEFAULT (getdate()) FOR [FechaPresentacion]
GO
ALTER TABLE [dbo].[Liquidaciones] ADD  DEFAULT ((0)) FOR [TotalPresentado]
GO
ALTER TABLE [dbo].[Liquidaciones] ADD  DEFAULT ('EN_PROCESO') FOR [Estado]
GO
ALTER TABLE [dbo].[Mandatarias] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Medicamentos] ADD  DEFAULT ((0)) FOR [PrecioVenta]
GO
ALTER TABLE [dbo].[Medicamentos] ADD  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Medicamentos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ObrasSociales] ADD  CONSTRAINT [DF__ObrasSoci__Codig__6D0D32F4]  DEFAULT ((0)) FOR [CodigoBonificacion]
GO
ALTER TABLE [dbo].[ObrasSociales] ADD  CONSTRAINT [DF__ObrasSoci__EsPre__6E01572D]  DEFAULT ((0)) FOR [EsPrepaga]
GO
ALTER TABLE [dbo].[ObrasSociales] ADD  CONSTRAINT [DF__ObrasSoci__Activ__6EF57B66]  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Cobros]  WITH CHECK ADD  CONSTRAINT [FK_Cobros_Liquidacion] FOREIGN KEY([IdLiquidaciones])
REFERENCES [dbo].[Liquidaciones] ([IdLiquidaciones])
GO
ALTER TABLE [dbo].[Cobros] CHECK CONSTRAINT [FK_Cobros_Liquidacion]
GO
ALTER TABLE [dbo].[Cobros]  WITH CHECK ADD  CONSTRAINT [FK_Cobros_ObraSocial] FOREIGN KEY([IdObrasSociales])
REFERENCES [dbo].[ObrasSociales] ([IdObrasSociales])
GO
ALTER TABLE [dbo].[Cobros] CHECK CONSTRAINT [FK_Cobros_ObraSocial]
GO
ALTER TABLE [dbo].[FacturaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FacturaDetalle_Cabecera] FOREIGN KEY([IdFacturaCabecera])
REFERENCES [dbo].[FacturaCabecera] ([IdFacturaCabecera])
GO
ALTER TABLE [dbo].[FacturaDetalle] CHECK CONSTRAINT [FK_FacturaDetalle_Cabecera]
GO
ALTER TABLE [dbo].[FacturaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FacturaDetalle_Medicamentos] FOREIGN KEY([IdMedicamentos])
REFERENCES [dbo].[Medicamentos] ([IdMedicamentos])
GO
ALTER TABLE [dbo].[FacturaDetalle] CHECK CONSTRAINT [FK_FacturaDetalle_Medicamentos]
GO
ALTER TABLE [dbo].[LiquidacionDetalle]  WITH CHECK ADD  CONSTRAINT [FK_LiquidacionDetalle_Factura] FOREIGN KEY([IdFacturaCabecera])
REFERENCES [dbo].[FacturaCabecera] ([IdFacturaCabecera])
GO
ALTER TABLE [dbo].[LiquidacionDetalle] CHECK CONSTRAINT [FK_LiquidacionDetalle_Factura]
GO
ALTER TABLE [dbo].[LiquidacionDetalle]  WITH CHECK ADD  CONSTRAINT [FK_LiquidacionDetalle_Liquidacion] FOREIGN KEY([IdLiquidaciones])
REFERENCES [dbo].[Liquidaciones] ([IdLiquidaciones])
GO
ALTER TABLE [dbo].[LiquidacionDetalle] CHECK CONSTRAINT [FK_LiquidacionDetalle_Liquidacion]
GO
ALTER TABLE [dbo].[Liquidaciones]  WITH CHECK ADD  CONSTRAINT [FK_Liquidaciones_Mandatarias] FOREIGN KEY([IdMandatarias])
REFERENCES [dbo].[Mandatarias] ([IdMandatarias])
GO
ALTER TABLE [dbo].[Liquidaciones] CHECK CONSTRAINT [FK_Liquidaciones_Mandatarias]
GO
USE [master]
GO
